<style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            text-align: center;
        }
        .middle{
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
            border: 1px solid black;
            padding: 1px;
        }
        td, th {
            padding: 10px;
            border: 1px solid black;
            text-align: left;
        }
        .right{
            text-align: right;
        }
        .middlecenter{
            text-align: center;
        }
        #t-image{
            text-align: center;            
        }
        #First{
            background-color: green;
        }
        #last{
            background-color: blue;
        }
        #table-2 #t21{
			text-align: center;
		}

    </style>
